@import url("inter/inter.css");

html {
  font-family: "Inter", sans-serif;
  font-feature-settings: "liga", "calt", "case", "frac", "ccmp", "dlig", "ss01",
    "ss02", "zero", "cv01", "cv04", "cv03", "cv02", "cv05", "cv06", "cv08",
    "cv09", "cv11";
}
:root {
  font-family: "Inter", sans-serif;
  font-feature-settings: "liga", "calt", "case", "frac", "ccmp", "dlig", "ss01",
    "ss02", "zero", "cv01", "cv04", "cv03", "cv02", "cv05", "cv06", "cv08",
    "cv09", "cv11";
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
    font-feature-settings: "liga", "calt", "case", "frac", "ccmp", "dlig",
      "ss01", "ss02", "zero", "cv01", "cv04", "cv03", "cv02", "cv05", "cv06",
      "cv08", "cv09", "cv11";
  }
}
h1,
h1 > a,
h2,
h2 > a,
h3,
h3 > a,
h4,
h4 > a,
h5,
h5 > a,
h6,
h6 > a {
  font-weight: 900 !important;
}
a::hover {
  background-color: #0000 !important;
}
