@import url("inter/inter.css");

body {
  font-family: "Inter", sans-serif;
}

}
h1,
h1 > a,
h2,
h2 > a,
h3,
h3 > a,
h4,
h4 > a,
h5,
h5 > a,
h6,
h6 > a {
  font-weight: 900 !important;
}
a::hover {
  background-color: #0000 !important;
}
