/* Sapphire scheme */
:root {
  --color-neutral: 255, 255, 255;
  /* Slate */
  --color-neutral-50: 248, 250, 252;
  --color-neutral-100: 241, 245, 249;
  --color-neutral-200: 226, 232, 240;
  --color-neutral-300: 203, 213, 225;
  --color-neutral-400: 148, 163, 184;
  --color-neutral-500: 100, 116, 139;
  --color-neutral-600: 71, 85, 105;
  --color-neutral-700: 37, 40, 50;
  --color-neutral-800: 22, 25, 35;
  --color-neutral-900: 15, 23, 42;
  /* Blue */
  --color-primary-50: 241, 242, 248;
  --color-primary-100: 225, 227, 240;
  --color-primary-200: 197, 201, 226;
  --color-primary-300: 167, 173, 210;
  --color-primary-400: 140, 147, 197;
  --color-primary-500: 109, 119, 181;
  --color-primary-600: 84, 95, 166;
  --color-primary-700: 69, 77, 135;
  --color-primary-800: 55, 62, 108;
  --color-primary-900: 40, 45, 79;
  --color-primary-950: 21, 23, 41;
  /* Red */
  --color-secondary-50: 253, 243, 241;
  --color-secondary-100: 252, 235, 232;
  --color-secondary-200: 249, 210, 205;
  --color-secondary-300: 246, 190, 183;
  --color-secondary-400: 243, 170, 160;
  --color-secondary-500: 239, 145, 133;
  --color-secondary-600: 236, 125, 110;
  --color-secondary-700: 233, 105, 88;
  --color-secondary-800: 230, 81, 61;
  --color-secondary-900: 227, 59, 38;
  --color-secondary-950: 117, 27, 15;
}
